.u-section-3-1 {
  background-image: url("images/bom3.jpg");
}

.u-section-3-1 .u-sheet-1 {
  min-height: 424px;
}

@media (max-width: 1199px) {
  .u-section-3-1 {
    background-position: 50% 50%;
  }

  .u-section-3-1 .u-sheet-1 {
    min-height: 350px;
  }
}

@media (max-width: 991px) {
  .u-section-3-1 .u-sheet-1 {
    min-height: 283px;
  }
}

@media (max-width: 767px) {
  .u-section-3-1 .u-sheet-1 {
    min-height: 213px;
  }
}

@media (max-width: 575px) {
  .u-section-3-1 .u-sheet-1 {
    min-height: 134px;
  }
}.u-section-3-2 {
  background-image: url("images/WhatsAppImage2021-03-08at11.29.19PM.jpeg");
}

.u-section-3-2 .u-sheet-1 {
  min-height: 424px;
}

@media (max-width: 1199px) {
  .u-section-3-2 {
    background-position: 50% 50%;
  }

  .u-section-3-2 .u-sheet-1 {
    min-height: 350px;
  }
}

@media (max-width: 991px) {
  .u-section-3-2 .u-sheet-1 {
    min-height: 283px;
  }
}

@media (max-width: 767px) {
  .u-section-3-2 .u-sheet-1 {
    min-height: 213px;
  }
}

@media (max-width: 575px) {
  .u-section-3-2 .u-sheet-1 {
    min-height: 134px;
  }
}.u-section-3-3 {
  background-image: url("images/102292903_721329498409701_8402035218818531328_n1.jpg");
}

.u-section-3-3 .u-sheet-1 {
  min-height: 424px;
}

@media (max-width: 1199px) {
  .u-section-3-3 {
    background-position: 50% 50%;
  }

  .u-section-3-3 .u-sheet-1 {
    min-height: 350px;
  }
}

@media (max-width: 991px) {
  .u-section-3-3 .u-sheet-1 {
    min-height: 283px;
  }
}

@media (max-width: 767px) {
  .u-section-3-3 .u-sheet-1 {
    min-height: 213px;
  }
}

@media (max-width: 575px) {
  .u-section-3-3 .u-sheet-1 {
    min-height: 134px;
  }
}.u-section-3-4 {
  background-image: url("images/bomberos.ingresos-copia.jpg");
}

.u-section-3-4 .u-sheet-1 {
  min-height: 424px;
}

@media (max-width: 1199px) {
  .u-section-3-4 {
    background-position: 50% 50%;
  }

  .u-section-3-4 .u-sheet-1 {
    min-height: 350px;
  }
}

@media (max-width: 991px) {
  .u-section-3-4 .u-sheet-1 {
    min-height: 283px;
  }
}

@media (max-width: 767px) {
  .u-section-3-4 .u-sheet-1 {
    min-height: 213px;
  }
}

@media (max-width: 575px) {
  .u-section-3-4 .u-sheet-1 {
    min-height: 134px;
  }
}.u-section-3-5 {
  background-image: url("images/bomberos2.jpg");
}

.u-section-3-5 .u-sheet-1 {
  min-height: 424px;
}

@media (max-width: 1199px) {
  .u-section-3-5 {
    background-position: 50% 50%;
  }

  .u-section-3-5 .u-sheet-1 {
    min-height: 350px;
  }
}

@media (max-width: 991px) {
  .u-section-3-5 .u-sheet-1 {
    min-height: 283px;
  }
}

@media (max-width: 767px) {
  .u-section-3-5 .u-sheet-1 {
    min-height: 213px;
  }
}

@media (max-width: 575px) {
  .u-section-3-5 .u-sheet-1 {
    min-height: 134px;
  }
}.u-section-1 .u-sheet-1 {
  min-height: 132px;
}

.u-section-1 .u-text-1 {
  letter-spacing: 3px;
  line-height: 1.2;
  font-size: 1.875rem;
  font-weight: 500;
  margin: 30px 20px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-2 {
  min-height: 77px;
}

.u-section-2 .u-group-1 {
  min-height: 77px;
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-2 .u-menu-1 {
  margin: 1px auto 0 49px;
}

.u-section-2 .u-nav-1 {
  background-image: none;
  font-weight: 700;
  font-size: 1.125rem;
}

.u-section-2 .u-nav-2 {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
}

.u-section-2 .u-nav-3 {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
}

.u-section-2 .u-nav-4 {
  font-size: 1.25rem;
}

.u-section-2 .u-nav-5 {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
}

.u-section-2 .u-nav-6 {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
}

.u-section-2 .u-menu-2 {
  margin: -76px 49px 0 auto;
}

.u-section-2 .u-nav-7 {
  background-image: none;
  font-weight: 700;
  font-size: 1.125rem;
}

.u-section-2 .u-nav-8 {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
}

.u-section-2 .u-nav-9 {
  font-size: 1.25rem;
}

.u-section-2 .u-nav-10 {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
}

.u-section-2 .u-image-1 {
  width: 85px;
  height: 94px;
  margin: -108px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 {
    min-height: 83px;
  }

  .u-section-2 .u-group-1 {
    min-height: 83px;
  }

  .u-section-2 .u-menu-1 {
    width: auto;
    margin-top: 7px;
    margin-left: 19px;
  }

  .u-section-2 .u-nav-1 {
    font-size: 0.875rem;
  }

  .u-section-2 .u-menu-2 {
    width: auto;
    margin-top: -75px;
    margin-right: 19px;
  }

  .u-section-2 .u-nav-7 {
    font-size: 0.875rem;
  }

  .u-section-2 .u-image-1 {
    margin-top: -94px;
  }
}

@media (max-width: 991px) {
  .u-section-2 {
    min-height: 214px;
  }

  .u-section-2 .u-group-1 {
    min-height: 214px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-2 .u-menu-1 {
    height: 88px;
    margin-left: 14px;
  }

  .u-section-2 .u-menu-2 {
    margin-top: -89px;
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    width: 147px;
    height: 162px;
    margin-top: -42px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-group-1 {
    min-height: 238px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-menu-1 {
    margin-left: 11px;
  }

  .u-section-2 .u-menu-2 {
    margin-top: -90px;
    margin-right: 13px;
  }

  .u-section-2 .u-image-1 {
    width: 137px;
    height: 152px;
    margin-top: -20px;
    margin-right: 231px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-group-1 {
    min-height: 262px;
  }

  .u-section-2 .u-menu-1 {
    margin-left: 7px;
  }

  .u-section-2 .u-menu-2 {
    margin-top: -85px;
    margin-right: 4px;
  }

  .u-section-2 .u-image-1 {
    height: 151px;
    margin-top: -8px;
    margin-right: auto;
  }
}.u-block-bf94-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-bf94-3 {
  position: absolute;
  left: 0;
  background-image: none;
}

.u-block-bf94-4 {
  position: absolute;
  right: 0;
  background-image: none;
}.u-section-4 .u-sheet-1 {
  min-height: 121px;
}

.u-section-4 .u-text-1 {
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 2.25rem;
  margin: 62px 20px 20px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 644px;
}

.u-section-5 .u-custom-html-1 {
  min-height: 526px;
  height: auto;
  margin: 59px 45px 0 595px;
}

.u-section-5 .u-slider-1 {
  width: 516px;
  min-height: 481px;
  margin: -503px auto 60px 41px;
}

.u-section-5 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 55px 30px 30px;
}

.u-section-5 .u-image-1 {
  width: 329px;
  height: 418px;
  object-position: 50% 64.46%;
  margin: 0 auto 0 64px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 50px;
}

.u-section-5 .u-image-2 {
  height: 421px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-carousel-item-3 {
  background-image: none;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px 50px;
}

.u-section-5 .u-image-3 {
  height: 421px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px 50px;
}

.u-section-5 .u-image-4 {
  height: 421px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-carousel-control-1 {
  width: 59px;
  height: 59px;
}

.u-section-5 .u-carousel-control-2 {
  width: 59px;
  height: 59px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 831px;
  }

  .u-section-5 .u-custom-html-1 {
    min-height: 509px;
    margin-top: 99px;
    margin-right: 28px;
    margin-left: 454px;
  }

  .u-section-5 .u-slider-1 {
    width: 396px;
    height: auto;
    margin-top: -495px;
    margin-left: 14px;
  }

  .u-section-5 .u-image-1 {
    margin-left: 4px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-right: 35px;
    padding-left: 40px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1176px;
  }

  .u-section-5 .u-custom-html-1 {
    min-height: 514px;
    width: 357px;
    margin-top: 58px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-slider-1 {
    margin-top: 28px;
    margin-left: auto;
  }

  .u-section-5 .u-container-layout-1 {
    padding-right: 30px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-slider-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-custom-html-1 {
    width: 340px;
  }

  .u-section-5 .u-slider-1 {
    margin-top: 71px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-1 {
    width: 320px;
    height: 406px;
    margin-left: 0;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 224px;
}

.u-section-6 .u-list-1 {
  min-height: 224px;
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-template-rows: auto;
  margin-top: 0;
  margin-bottom: 0;
  grid-gap: 10px 10px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-icon-1 {
  height: 84px;
  width: 84px;
  margin: 0 auto;
}

.u-section-6 .u-text-1 {
  font-size: 1.5rem;
  margin: 27px 0 0;
}

.u-section-6 .u-text-2 {
  margin: 0 0 0 20px;
}

.u-section-6 .u-btn-1 {
  font-weight: 700;
  text-decoration: underline !important;
  padding: 0;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-icon-2 {
  height: 84px;
  width: 84px;
  margin: 0 auto;
}

.u-section-6 .u-text-3 {
  font-size: 1.5rem;
  margin: 27px 0 0;
}

.u-section-6 .u-text-4 {
  margin: 0 0 0 20px;
}

.u-section-6 .u-btn-2 {
  font-weight: 700;
  text-decoration: underline !important;
  padding: 0;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px;
}

.u-section-6 .u-icon-3 {
  height: 84px;
  width: 84px;
  margin: 0 auto;
}

.u-section-6 .u-text-5 {
  font-size: 1.5rem;
  margin: 27px 0 0;
}

.u-section-6 .u-text-6 {
  margin: 0 0 0 20px;
}

.u-section-6 .u-btn-3 {
  text-decoration: underline !important;
  font-weight: 700;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 454px;
  }

  .u-section-6 .u-list-1 {
    min-height: 185px;
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
    height: auto;
  }

  .u-section-6 .u-text-2 {
    margin-right: 16px;
    margin-left: 0;
  }

  .u-section-6 .u-text-4 {
    margin-right: 16px;
    margin-left: 0;
  }

  .u-section-6 .u-text-6 {
    margin-right: 16px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-list-1 {
    min-height: 425px;
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
  }

  .u-section-6 .u-text-2 {
    margin-right: 0;
  }

  .u-section-6 .u-text-4 {
    margin-right: 0;
  }

  .u-section-6 .u-text-6 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-list-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-list-1 {
    grid-template-columns: 100%;
  }
}